form#form-feed-add-short.well.form-inline(method='get', action='/feeds/new')
  fieldset
    input(type="text", name="feed[url]", placeholder="New feed URL")
    div.input-append
      input.btn.btn-success(type='submit', value='Add')

each feed in feeds
  != partial('feed/summary', {locals: {feed: feed}})
