form.form-horizontal(method='post', action='/feeds/new')
  fieldset
    legend Add Feed
    div.control-group
      lable.control-label(for='name') Name
      div.controls
        input(type='text', name='name', id='name', value=feed.name)
    div.control-group
      lable.control-label(for='url') URL
      div.controls
        input(type='text', name='url', id='url', value=feed.url)
    div.control-group
      lable.control-label(for='selector') Selector
      div.controls
        input(type='text', name='selector', id='selector', value=feed.selector)
    div.form-actions
      input.btn.btn-primary(type='submit', value='Save')
      &nbsp;
      a.btn(href='/feeds') Cancel
