h1= title
form(method='post', action='/add/')
  div
    lable(for='name') Name
    input(type='text', name='name', id='name', value='')
  div
    lable(for='url') URL
    input(type='text', name='url', id='url', value=url)
  div
    lable(for='selector') Selector
    input(type='text', name='selector', id='selector', value=)
  div
    input(type='submit', value='Save')
    a(href='/view/' + feed.name) Cancel
