h1= title
form(method='post', action='/delete/' + feed.name)
  div Are you sure you want to delete #{feed.name}?
  div
    input(type='submit', value='Delete')
    a(href='/view/' + feed.name) Keep It
