h1= title
form(method='post', action='/feeds/' + feed.name + '/delete')
  div Are you sure you want to delete #{feed.name}?
  div
    input(type='submit', value='Delete')
    a(href='/feeds/' + feed.name) Keep It
