form#form-feed-add(method='post', action='/feeds/' + feed.name + '/delete')
  fieldset
    legend Are you sure you want to delete this feed?

    div.form-actions
      input.btn.btn-danger(type='submit', value='Delete')
      &nbsp;
      a.btn(href='/feeds/' + feed.name) Keep It
