form#form-feed-edit.form-horizontal(method='post', action='/feeds/' + feed.name + '/edit')
  fieldset
    legend Edit
    div.control-group
      lable.control-label URL
      div.controls
        div(style="margin-top: 5px;")
          a(href=feed.url)= feed.url
    div.control-group
      lable.control-label(for='selector') Selector
      div.controls
        input(type='text', name='feed[selector]', id='selector', value=feed.selector)
    div.form-actions
      input.btn.btn-primary(type='submit', value='Save')
      &nbsp;
      a.btn(href='/feeds/' + feed.name) Forget It