h1= title
form(method='post', action='/new')
  div
    lable(for='url') URL
    input(type='text', name='url', id='url', value='url')
  div
    lable(for='selector') Selector
    input(type='text', name='selector', id='selector', value='selector')
  div
    input(type='submit', value='Save')
 